<form id="filter-form" method="post" action="">
    <div class="row">
        <div class="col">
            <h5>Thời gian</h5>
        </div>
        <div class="col">
            <input class="form-element" value="today" name="duration" type="radio" />
            <label for="today">Hôm nay</label>
        </div>
        <div class="col">
            <input class="form-element" value="3days" name="duration" type="radio" />
            <label for="3days">3 ngày</label>
        </div>
        <div class="col">
            <input class="form-element" value="week" name="duration" type="radio" />
            <label for="week">Tuần này</label>
        </div>
        <div class="col">
            <input class="form-element" value="all" name="duration" type="radio" />
            <label for="all">Mọi lúc</label>
        </div>
    </div>
</form>
